<h1><%= @survey.title %></h1>

<ol>
  <% @questions.each do |question| %>
    <li>
      <a href="/question/<%= question.id %>"><%= question.content %></a>
      <br>
      <ul>
        <% question.choices.each do |choice| %>
          <li><%= choice.content %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>
<%= erb :question_new %>
