<h1><%= @survey.title %></h1>

<ol>

  <form action="/answer" method="post">
      <% @survey.questions.each do |question| %>
      <!-- can't pass an object from html back to Ruby -->
        <strong><li><%= question.content %></li></strong>
          <% question.choices.each do |choice| %>
            <input type="radio" name="<%= question.id %>" value="<%= choice.id %>" /> <%= choice.content %><br><br>
          <% end %>
      <% end %>
    <input type="submit" value="Submit" />
  </form>

</ol>
